# LIST


create a list [1, 2, 3, 4, 5] named as my_list.

Add an element "6" to the end of the list.

Insert an element "7" at a specific index "2" (index, value).

Remove the first occurrence of a value "3".

Remove and return the last element.

Extract elements from index 1 to 3 (inclusive).

In [ ]:
List1 = [1, 2, 3, 4, 5]
List1.append(6)

In [ ]:
List1.insert(2,7)
List1

In [12]:
List1.remove(3)

In [ ]:
List1.pop()

In [ ]:
List1[1:4]

# SET
create two sets set1 with values {1, 2, 3, 6, 7} and set2 with values {3, 4, 5, 6}.

Also find (((set1 difference set2) union set2) Intersection set1) and store result in set3

In [17]:
set1 = {1, 2, 3, 6, 7}
set2 = {3, 4, 5, 6}

In [20]:
diffset = set1.difference(set2)

In [21]:
uniset = diffset.union(set2)

In [22]:
set3 = uniset.intersection(set1)

# **FUNCTIONS**

Find the maximum length word in a list of words using the max function and a lambda key function.

In [24]:
namelist = ["Mustafa", "Zayan", "Huzaifa", "Raza"]
maxlenword = max(namelist, key=lambda word: len(word))
print("The longest word is:", maxlenword)

The longest word is: Mustafa

# **LIST COMPREHENSION**

Using List Comprehension concept calculate the length of each word in a list of words.

words = ["apple", "banana", "cherry"]

output_list = [5, 6, 6]

In [7]:
words = ["apple", "banana", "cherry"]
output_list = [len(word) for word in words]
print(output_list)

[5, 6, 6]

# FILING
Resolve the error using try, catch Block

```
with open("myfile.txt") as f:
    for line in f:
        print(line)
```

create a file myfile.txt and dumps set3 and final list in myfile.txt using json library

In [8]:
import json

try:
    with open("myfile.txt") as f:
        for line in f:
            print(line)
except FileNotFoundError:
    print("File not found")

set3 = {"apple", "banana", "cherry"}
final_list = [5, 6, 6]

with open("myfile.txt", "w") as f:
    json.dump({"set3": list(set3), "final_list": final_list}, f)

print("Data dumped into myfile.txt successfully.")

{"set3": ["banana", "apple", "cherry"], "final_list": [5, 6, 6]}
Data dumped into myfile.txt successfully.