# **TOPIC-1: List**

In [ ]:
mylist = ["Banana", "Apple", "Mango"]
print(mylist)

['Banana', 'Apple', 'Mango']

In [ ]:
mylist.append("Charry")

In [ ]:
print(mylist)

['Banana', 'Apple', 'Mango', 'Charry']

In [ ]:
mylist.insert(1, "Buebarry")
print(mylist)

['Banana', 'Buebarry', 'Apple', 'Mango', 'Charry']

In [ ]:
mylist.pop()  #remove last element

'Charry'

In [ ]:
print(mylist)

['Banana', 'Buebarry', 'Apple', 'Mango']

In [ ]:
mylist.remove("Apple") #remove any spec. ele

In [ ]:
print(mylist)

['Banana', 'Buebarry', 'Mango']

In [ ]:
mylist.clear() #remove all ele
print(mylist)

[]

In [ ]:
mylist = [4,5,67,23,4,]
mylist.sort()
print(mylist)

[4, 4, 5, 23, 67]

In [ ]:
mylist1 = [4,5,67,23,4]
mylist2 = sorted(mylist1)
print(mylist2)

[4, 4, 5, 23, 67]

In [ ]:
mylist = [0] * 5
print(mylist)

[0, 0, 0, 0, 0]

In [ ]:
new_list = mylist1 + mylist2
print(new_list)

[4, 5, 67, 23, 4, 4, 4, 5, 23, 67]

In [ ]:
mylisst = [2,3,4,5,67,1,3,7]
a = mylisst[1:5]
print(a)

[3, 4, 5, 67]

In [ ]:
print(mylisst[:5]) #till 4
print(mylisst[1:]) #skip 1 and print all
print(mylisst[::5]) # start from 1 skip 4
print(mylisst[1::]) # skip 1
print(mylisst[2::]) # skip till 2
print(mylisst[::4]) # start form 1 index skip 3
print(mylisst[::-1]) # reverse the list

[2, 3, 4, 5, 67]
[3, 4, 5, 67, 1, 3, 7]
[2, 1]
[3, 4, 5, 67, 1, 3, 7]
[4, 5, 67, 1, 3, 7]
[2, 67]
[7, 3, 1, 67, 5, 4, 3, 2]

In [ ]:
list_org = ["abanaa", "Apple", "orange"]
list1 = list_org  #if use don't copy the changes not effect on org
print(list1)
list1.append("Charry")
print(list1)
print(list_org)

['abanaa', 'Apple', 'orange']
['abanaa', 'Apple', 'orange', 'Charry']
['abanaa', 'Apple', 'orange', 'Charry']

In [ ]:
list_org = ["abanaa", "Apple", "orange"]
list1 = list_org.copy() #if use copy the changes not effect on org
print(list1)
list1.append("Charry")
print(list1)
print(list_org)

['abanaa', 'Apple', 'orange']
['abanaa', 'Apple', 'orange', 'Charry']
['abanaa', 'Apple', 'orange']

In [ ]:
mylist = [1, 2, 3, 4, 5, 6]
b = [i*i for i in mylist]  #fastet way to copy one list in another
print(mylist)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# **Topic-2: Tuples**

In [ ]:
mytup = "Max", 40, "Bosten"
print(mytup)

('Max', 40, 'Bosten')

In [ ]:
item = mytup[0]
item1 = mytup[2]
item2 = mytup[-2]
item3 = mytup[-1]
print(item)
print(item1)
print(item2)
print(item3)

Max
Bosten
40
Bosten

In [ ]:
mytup[0] = "Alex" # error tuple can't be change

In [ ]:
for i in mytup:
  print(i)

Max
40
Bosten

In [ ]:
if "Max" in mytup:
  print("yes")
else:
  print(No)

yes

In [ ]:
print(len(mytup))

3

In [ ]:
mytup2 = ['z','a','e', 'a', 'b']
print(mytup2.count('a'))

2

In [ ]:
mytup2 = ['z','a','e', 'a', 'b']
mylist = list(mytup)

print(mylist)

mytup3 = tuple(mylist)
print(mytup3)

['Max', 40, 'Bosten']
('Max', 40, 'Bosten')

In [ ]:
  mytup4 = "Max", 40, "Bosten"
  name, age, city = mytup4
  print(name)
  print(age)
  print(city)

Max
40
Bosten

In [ ]:
mytup5 = "Max", 40, "Bosten", 4, 5, 6, 3, "My"
print(mytup5[::2])
print(mytup5[::1])
print(mytup5[:2])

('Max', 'Bosten', 5, 3)
('Max', 40, 'Bosten', 4, 5, 6, 3, 'My')
('Max', 40)

In [ ]:
mytuple = (1, 2, 3, 4, 5, 7,5)
i1, *i2, i3 = mytuple
print(i1)
print(i2)
print(i3)

# **Topic-3: Dictionaries**

In [ ]:
mydict = {
    "name" : "Mustafa",
    "Class" : "12",
    "Age" : 3,
    "Gemder" : "M"
}
print(mydict)

mydict["Email"] = "FA21"
print(mydict)

{'name': 'Mustafa', 'Class': '12', 'Age': 3, 'Gemder': 'M'}
{'name': 'Mustafa', 'Class': '12', 'Age': 3, 'Gemder': 'M', 'Email': 'FA21'}

In [ ]:
del mydict["Class"]

In [ ]:
print(mydict)

{'name': 'Mustafa', 'Age': 3, 'Gemder': 'M', 'Email': 'FA21'}

In [ ]:
mydict.pop("Age")
print(mydict)

In [ ]:
mydict.popitem()
print(mydict)

{'name': 'Mustafa', 'Gemder': 'M'}

In [ ]:
if "name" in mydict:
  print(mydict["name"])

Mustafa

In [ ]:
try:
  print(mydict["name"])
except:
  print("Error")

Mustafa

In [ ]:
for key in mydict:
  print(key)

name
Gemder

In [ ]:
print(mydict.keys())
print(mydict.values())

dict_keys(['name', 'Gemder'])
dict_values(['Mustafa', 'M'])

In [ ]:
mydicst = {0: 3, 5: 4, 6: 3, 9:1}
print(mydicst[0])

3

# **Topic-3:  Set**

In [ ]:
myset = set()
myset.add(3)
myset.add(6)
myset.add(2)
myset.add(4)
myset.add(33)

print(myset)
myset.remove(33)
print(myset)
myset.discard(6)
print(myset)
myset.pop()
print(myset)

if 4 in myset:
  print("yes")

{33, 2, 3, 4, 6}
{2, 3, 4, 6}
{2, 3, 4}
{3, 4}
yes

In [ ]:
odd = {1, 3, 5, 7, 9}
evens = {2, 4, 6, 8, 10}
prime = {2, 3, 4, 5, 7}

u = odd.union(evens)
print(u)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
u = odd.intersection(prime)
print(u)

{3, 5, 7}

In [ ]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9}
B = {1, 2, 3, 10, 11, 12}

print(A.difference(B))
print(A.symmetric_difference(B))

{4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9, 10, 11, 12}
None

In [ ]:
print(A.intersection_update(B))

None

# **Topic-3: Strings**

In [ ]:
mystr = "   Hello   "
myst = mystr.strip()
print(myst)
print(mystr)

Hello
   Hello

In [ ]:
my_list = ['a'] * 6
my_str = ''
for i in my_list:
  my_str += i
print(my_str)

mystr = ''.join(my_list)
print(mystr)

aaaaaa
aaaaaa

# **Topic-4: Collections**

Collections : Counter, namedtuple, OrderedDict, defaultdict, deque

In [ ]:
from collections import Counter
a = "aaaabbc"
my_co = Counter(a)
print(my_co)
print(my_co.most_common(1))
print(my_co.most_common(2))
print(list(my_co.elements()))

Counter({'a': 4, 'b': 2, 'c': 1})
[('a', 4)]
[('a', 4), ('b', 2)]
['a', 'a', 'a', 'a', 'b', 'b', 'c']

In [ ]:
  from collections import namedtuple
  Point = namedtuple('Point', 'x,y')
  pt = Point(1, -4)
  print(pt)
  print(pt.x, pt.y)

Point(x=1, y=-4)
1 -4

In [ ]:
  from collections import OrderedDict
  orderedDict = OrderedDict()
  orderedDict['a'] =1
  orderedDict['b'] =2
  orderedDict['c'] =3
  orderedDict['d'] =4
  print(orderedDict)

  orderedDict = {}
  orderedDict['a'] =1
  orderedDict['b'] =2
  orderedDict['c'] =3
  orderedDict['d'] =4
  print(orderedDict)

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4)])
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
  from collections import defaultdict
  d = defaultdict(int)
  d['a'] = 1
  d['b'] = 2
  print(d['a'])
  print(d['c']) #default int value

  d = defaultdict(float)
  d['a'] = 1
  d['b'] = 2
  print(d['a'])
  print(d['c']) #default float value

1
0
1
0.0

# **Topic-4: IterTools**

Itertools: product, perumations, combinations, accumulate, groupby and interfinite iterators

In [ ]:
from itertools import product
a = [1,2]
b = [3,4]
prod = product(a,b)
print(list(prod))

prod = product(a,b, repeat=2)
print(list(prod))

In [ ]:
from itertools import permutations
a = [1, 2, 3]
per = permutations(a)
print(list(per))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
per = permutations(a, 2)
print(list(per))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
from itertools import combinations
a = [1, 2, 3, 4]
comb = combinations(a,2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [ ]:
from itertools import combinations_with_replace
a = [1, 2, 3, 4]
comb_wr = combinations_with_replacement(a,2)
print(list(comb_wr))

In [ ]:
from itertools import accumulate
a = [1, 3, 4, 4]
acc = accumulate(a)
print(a)
print(list(acc))

[1, 3, 4, 4]
[1, 4, 8, 12]

In [ ]:
from itertools import accumulate
import operator
a = [1, 3, 4, 4]
acc = accumulate(a, func = operator.mul)
print(a)
print(list(acc))

[1, 3, 4, 4]
[1, 3, 12, 48]

In [ ]:
from itertools import accumulate
import operator
a = [1, 3, 4, 4]
acc = accumulate(a, func = max)
print(a)
print(list(acc))

[1, 3, 4, 4]
[1, 3, 4, 4]

In [ ]:
from itertools import groupby
def smaller_than_3(x):
  return x<3
a = [1, 2, 3, 4, 5]
group_obj = groupby(a, key=smaller_than_3)
for key, value in group_obj:
  print(key, list(value))

True [1, 2]
False [3, 4, 5]

In [ ]:
from itertools import groupby

person = [{'name':'Mustafa', 'age':25}, {'name':'Raza', 'age':29},
 {'name': 'Iqbal', 'age': 54}, {'name': 'Faheem','age': 21}]

group_obj = groupby(person, key=lambda x: x['age'])
for key, value in group_obj:
  print(key, list(value))

25 [{'name': 'Mustafa', 'age': 25}]
29 [{'name': 'Raza', 'age': 29}]
54 [{'name': 'Iqbal', 'age': 54}]
21 [{'name': 'Faheem', 'age': 21}]

# **Topic-6: Lambda**

Lambda arguments: expression

In [ ]:
add10 = lambda x: x +10
print(add10(5))

15

In [ ]:
def add10_func(x):
  return x + 10

mult = lambda x,y: x*y
print(mult(2,7))

14

In [ ]:
a = [1, 2, 3, 4, 5]
b = map(lambda x: x*2, a)
print(list(b))

[2, 4, 6, 8, 10]

In [ ]:
c = [x*2 for x in a]  #same work in less line
c = [x*3 for x in a]
print(c)

[3, 6, 9, 12, 15]

In [ ]:
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x%2==0, a)  # filter(func, seq)
print(list(b))

[2, 4, 6]

In [ ]:
c = [x for x in a if x%2==0]
print(c)

[2, 4, 6]

In [ ]:
c = [x*2 for x in a if x%2==0]
print(c)

[4, 8, 12]

In [ ]:
a = [1,2,3,4,5,6]
product

In [ ]:
#reduce(func, seq)
from functools import reduce
a = [1,2,3,4]
product_A = reduce(lambda x,y: x*y,a)
print(product_A)

24

In [ ]:
Name = input('Enter your name: ')
print("Hello " + Name)

Enter your name: Mustafa
Hello Mustafa

In [ ]:
hours = input('Enter the hours')
pay = input('Enter the pay')
total = int(hours) * int(pay)
print("Pay = ", total)

Enter the hours44
Enter the pay33
Pay =  1452

In [ ]:
hours = input("Enter the hours: ")
rate = input("Enter the rate: ")
if type(rate) == str:
  print("Error")
else:
  tot = hours*rate
  print("Total = ", tot)

Enter the hours: 4
Enter the rate: nine
Error

In [ ]:
temp = "5 degree"

cel = 0
fahr = float(len(temp))
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

-13.333333333333334

In [ ]:
for i in [2,1,5]:
    print(i)

2
1
5

In [ ]:
# Below is code to find the smallest value from a list of values.
# One line has an error that will cause the code to not work as expected. Which line is it?:

smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
        break
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Smallest: 3

In [ ]:
for n in "banana":
    print(n)

b
a
n
a
n
a

In [ ]:
fruit = "banana"
x = fruit[1]
print(x)

a

In [ ]:
words = 'His e-mail is q-lar@freecodecamp.org'
pieces = words.split()
parts = pieces[3].split('-')
n = parts[1]
print(pieces)
print(parts)

['His', 'e-mail', 'is', 'q-lar@freecodecamp.org']
['q', 'lar@freecodecamp.org']

In [ ]:
# What will the following code print?

counts = { 'quincy' : 1 , 'mrugesh' : 42, 'beau': 100, '0': 10}
print(counts.get('kris', 0))

0

In [ ]:
# What will the following code print?:

d = dict()
d['quincy'] = 1
d['beau'] = 5
d['kris'] = 9
for (k,i) in d.items():
    print(k, i)

quincy 1
beau 5
kris 9

In [ ]:
import re
x = "My 2 favoriate numbers are 19 and 42"
y = re.findall('[0-9]+', x)
print(y)

['2', '19', '42']

In [ ]:
y = re.findall('[AEIOU]+',x)
print(y)

[]

In [ ]:
user = ["Mustafa", "Raza", "Sara"]
print("Raza" in user)
print(user[2])
print(user[-1])

print(user.index("Raza"))

print(user[0:2])
print(user[1:])
print(user[:-2])
print(len(user))
user.append("Aqsa")
print(user)

True
Sara
Sara
1
['Mustafa', 'Raza']
['Raza', 'Sara']
['Mustafa']
3
['Mustafa', 'Raza', 'Sara', 'Aqsa']

In [ ]:
user += ["Nimra"]  #Add two list
user += ['Moiz']  #Add two list
user.extend(["Iqbal", "Tasleem", "Fatima", "Zehra"])

In [ ]:
print(user)

['Mustafa', 'Raza', 'Sara', 'Aqsa', 'Nimra', 'Nimra', 'Nimra', 'Iqbal', 'Tasleem', 'Nimra', 'Iqbal', 'Tasleem', 'Fatima', 'Zehra', 'Nimra', 'Iqbal', 'Tasleem', 'Fatima', 'Zehra', 'Nimra', 'Moiz', 'Iqbal', 'Tasleem', 'Fatima', 'Zehra']

In [ ]:
user.insert(0, "Iqbal Hassan")

In [ ]:
Mylist = ["Mustafa", 4, "Raza", 3.99, "Sarah", "Aqsa"]
res = []
for i in Mylist:
  if type(i) == str:
    res.append(len(i))

print(res)

[7, 4, 5, 4]

In [ ]:
user.remove("Mustafa")
print(user)

['Iqbal Hassan', 'Raza', 'Sara', 'Aqsa', 'Nimra', 'Nimra', 'Nimra', 'Iqbal', 'Tasleem', 'Nimra', 'Iqbal', 'Tasleem', 'Fatima', 'Zehra', 'Nimra', 'Iqbal', 'Tasleem', 'Fatima', 'Zehra', 'Nimra', 'Moiz', 'Iqbal', 'Tasleem', 'Fatima', 'Zehra']

In [ ]:
user.pop()

'Zehra'

In [ ]:
del user

In [ ]:
value = 0
while value <= 10:
  print(value)
  if value == 5:
    break
  value+=1

0
1
2
3
4
5

In [ ]:
for x in range(5, 101, 5):
  print(x)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
for i in range(40, 0, -4):
  print(i)

40
36
32
28
24
20
16
12
8
4

In [ ]:
def hello():
  print("Hello World!")

hello()

Hello World!

In [ ]:
def sum(num1=0, num2=0):
  if(type(num1) is not int or type(num2) is not int):
    return
  return num1+num2

sum("A",2)
sum()

0

In [ ]:
def mul(*args):  #form multiple arguments we use *args and its type is tuple
  print(args)
  print(type(args))

mul("Def", "Jon", "Sara")

('Def', 'Jon', 'Sara')
<class 'tuple'>

In [ ]:
def mul_items_named(**kwargs):
  print(kwargs)
  print(type(kwargs))

mul_items_named(First="Mustafa", last="'Hassan")

{'First': 'Mustafa', 'last': "'Hassan"}
<class 'dict'>

In [ ]:
def add_one(num):
  if(num >= 9):
    return num+1

  total = num+1
  print(total)
  return add_one(total)

add_one(0)

1
2
3
4
5
6
7
8
9

10

In [ ]:
value = "Y"
count = 0

while value:
  count += 1
  print(count)
  if(count == 5):
    break
  else:
    value = 0
    continue

1

# **Rock || Paper || Scissors**

In [ ]:
import sys
import random
from enum import Enum

class RPS(Enum):
  ROCK = 1
  PAPER = 2
  SCISSOR = 3

playagain = True

while playagain:
  playerchoice = input("Enter Choice \n 1->ROCK \n 2->PAPER \n 3->SCISSOR")

  player = int(playerchoice)

  if player<1 or player>3:
    sys.exit("You must enter 1, 2, or 3.")

  computerchoice = random.choice("123")
  computer = int(computerchoice)

  print("\n You chose" + str(RPS(player)).replace('RPS.', '').title()+".")
  print("\n Python chose" + str(RPS(computer)).replace('RPS.', '').title()+".\n")

  if player == 1 and computer==3:
        print(" You Win !")
  elif player == 2 and computer==1:
        print(" You Win !")
  elif player == 3 and computer==2:
        print(" You Win !")
  elif player==computer:
        print("Python won")

  palyagain =   input("\n Play Again? \n Y -> Yes \n N -> NO \n Q -> Quit")

  if playagain.lower() == "y":
        continue
  else:
        print("Thank YOU")
        playagin = False

sys.exit("Bye!")

Enter Choice
 1->ROCK
 2->PAPER
 3->SCISSOR4

SystemExit: You must enter 1, 2, or 3.

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# **Clouser:** is a function having access to the scope of its parent function after the parent function returned.

In [1]:
def parent_function(person):
  coins = 3

  def play_game():
    nonlocal conis
    conis -= 1

    if conis>1:
      print("\n "+ person + " has " + str(conis) + " conis left.")
    elif conius == 1:
      print("\n "+ person + " has " + str(conis) + " conis left.")
    else:
      print("\n "+ person + " is out of conis.")

  return play_game

  mus = parent_function("Must")
  tafa = parent_function("afa")

  mus()
  mus()

  tafa()

SyntaxError: no binding for nonlocal 'conis' found (<ipython-input-1-ad680eab325f>, line 5)

In [2]:
import math
print(math.pi)

3.141592653589793

In [4]:
import sys
import random
from enum import Enum

random.choice()

TypeError: Random.choice() missing 1 required positional argument: 'seq'

In [10]:
from __future__ import print_function
import sys
import random

def guess_number(name='PlayerOne'):
  game_count = 0
  player_wins = 0

  def paly_guess_number():
    nonlocal name
    nonlocal player_wins

    playerchoice = input("\n"+ name + " guess which number I'm thining of...1 2 3")

    if playerchoice not in ["1", "2", "3"]:
      print("Please enter 1, 2, or 3.")
      return paly_guess_number()

    computerchoice = random.choice("123")
    print(name + " you chose "+ playerchoice)
    print("I was thinking about the number "+ computerchoice)

    player = int(playerchoice)
    computer = int(computerchoice)

    def decide_winner(player, computer):
      nonlocal name
      nonlocal player_wins

      if player == computer:
        player_wins += 1
        return f"{name}, you win!"
      else:
        return f"Sorry {name}!"
    game_result  = decide_winner(player, computer)

    print(game_result)

    nonlocal game_count
    game_count += 1

    print(f"\n Game Count: {game_count}")
    print(f"\n {name}'s Win: {player_wins}")
    print(f"\n Your winning percentage: {player_wins/game_count:.2%}")

    print(f"\n Play again. {name}?")

    while True:
      playagin = input("\nY for Yes or \nQ to qiut\n")
      if playagin.lower() == "Y":
        return paly_guess_number()
      else:
        print("\n Thank for playing")
        if __name__ == "__main__":
          sys.exit(f"Bye {name}")
        else:
          return
  return paly_guess_number

if __name__ == "__main__":
  import argparse

  parser = argparse.ArgumentParser(
      description = "Provide a personlazied game expericence."
  )

  parser.add_argument(
      '-n', '-name', metavar = 'name', required = "True", help='The name of the person playing the game'
   )

  args = parser.parse_args()

  print(f"\n {args.name}, welcome to the Arcade!")

  play_game(agrs.name)

usage: colab_kernel_launcher.py [-h] -n name
colab_kernel_launcher.py: error: the following arguments are required: -n/-name

SystemExit: 2